markdown
mkdocs
mkdocs-glightbox
mkdocs-material
mkdocs-tooltipster-links-plugin
mkdocs-macros-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-table-reader-plugin
mkdocs-bibtex
pymdown-extensions
rdflib
rdflib-jsonld
csvkit
requests
beautifulsoup4
